.mainbkgrnd {
	background-color:  linear-gradient(left to right, rgba(0, 0, 0, 1), rgba(255, 255, 255,  1));
}

.adminbkgrnd {
	background-color: black;
}

.adminTxt {
	color: green;
}

.header {
	color: red;
	font-weight: bolder;
	text-align: center;
}

.makeBold {
	font-weight: bolder;
}

.center {
	text-align: center;
}

.bottom{
		text-align: center;
		bottom: 0;
}

.important {
		text-align: center;
		color: green;
		background-color: black;
		font-weight: bolder;
}

.flavorText {
	text-align: center;
	color: green;
	font-weight: lighter;
	font-style: italic;
}

.welcomeUserText {
	color: yellow;
	font-style: oblique;
	font-weight: bolder;

}

.loginForm {
		text-align: center;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 0,  1));
		color: white;
}

.hprlnk {
	color: yellow;
	text-align: center;
}

.buttons {
	background-color: blue;
	color: white;
}

.multiBckgrnd {
	background: black;
		background-image: url("DestinyOGCoverArt.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;


}

.log_btn {
	background-color: rgba(255, 255, 0, 1);
	position: absolute;
	top: 30px;
	right: 60px;
}

.blogstyle {
	background: black;
		background-image: url("nightstalker.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
}
